.keypad ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 250px;
}

.keypad ul li {
    display: inline-block;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    text-align: center;
    cursor: pointer;
}

.keypad ul li span {
    display: block;
}

.num {
    font-size: 2em;
}

.letter-value {
    font-size: .75em;
    margin-top: -5px;
}

.keypad ul li.active {
    background: gray;
    color: white;
}